.hero {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7% 10% 10%;
    box-sizing: border-box;
    height: 80vh;
}

.heroContent {
    max-width: 40%;
    height: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.heroSubtitle {
    font-size: 48px;
    margin-top: 30px;
    color: #FFFFFF;
    font-weight: 600;
}

.heroDescription {
    font-size: 30px;
    margin-top: 28px;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 200;
}

.heroAction {
    display: flex;
    gap: 60px
}

.heroButton {
    background-color: #008645;
    font-size: 24px;
    color: white;
    padding: 14px 55px;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    text-decoration: none;
    font-weight: 700;
}

.heroButtonOutline {
    background-color: transparent;
    border: 1px solid white;
    padding: 14px 55px;
    font-size: 24px;
    font-weight: 700;
    color: white;
    border-radius: 16px;
}

.heroImage {
    margin-top: 2.5%;
    height: 140%;
    min-height: 120%;
    width: 50%;
    background-image: url('../assets/mainPageBanner.webp');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

/* ~~~~~~~~ Why Us Section ~~~~~~~~ */

.whyUs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 10%;
    box-sizing: border-box;
    gap: 30px;
}

.whyUsTitle {
    font-size: 64px;
    color: #FFFFFF;
    font-weight: 600;
    display: flex;
    gap: 20px;
}

.whyUsSubtitle {
    font-size: 24px;
    color: #D9D9D9;
    opacity: 0.65;
    display: flex;
    gap: 20px;
    font-weight: 200;
    text-align: center;
}

.whyUsContainer {
    position: relative;
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
    gap: 4.5%;
    width: 100%;
}

.whyUsContainerChild {
    position: relative;
    display: flex;
    flex-direction: column;
    /* min-height: 40vh; */
    background: linear-gradient(#0173364C, #00150A4C);
    border-radius: 40px;
    border: 1px solid #23BD21;
    width: calc((100% - (4.5% * 3)) / 4);
    padding: 4% 2% 2% 2%;
    box-sizing: border-box;
}

.whyUsIcon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 105px;
    height: 105px;
    background: linear-gradient(#008645, #23BD21);
    border-radius: 15px;
    padding: 20px 25px;
    box-sizing: border-box;

    img {
        width: 100%;
        height: 100%;
    }
}

.whyUsContainerChildTitle {
    min-height: 72px;
    font-size: 32px;
    color: #F4F5F5;
    font-weight: 600;
    margin-top: 24px;
    max-width: 100%;
}

.whyUsContainerChildSubtitle {
    font-size: 20px;
    font-weight: 200;
    color: #FEFDFD;
    opacity: .7;
    margin-top: 32px;
    margin-bottom: 32px;
}

.whyUsContainerChildFooter {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 24px;
    bottom: 0;
    width: 80%;
}

.whyUsContainerChildFooterHr {
    width: 16.6%;
    min-width: 40px;
    background: #23BD21;
    height: 3px;
    border-radius: 1px;
}

.whyUsContainerChildFooterContent {
    color: #23BD21;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 32px;

    img {
        height: 28px;
        width: 28px;
    }
}

.whyUsContainerChildFooterHelper {
    height: 116px;
}

.whyUsFooter {
    display: flex;
    align-items: center;
    margin-top: 98px;
    padding: 1.2% 2%;
    background: linear-gradient(#002d154c, #0588414c);
    border: 1px solid #23BD21;
    border-radius: 40px;
    min-width: 40%;
    /* box-sizing: border-box; */
}

.whyUsFooterIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
}

.whyUsFooterContainer {
    display: flex;
    align-items: center;
    width: 90%;
}

.whyUsFooterContent {
    position: relative;
    font-size: 16px;
    font-weight: 200;
    color: rgba(255, 255, 255, 0.7);
    flex: 1 0 0;
    text-align: center;
}

.whyUsFooterContent::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background: #23BD21;
    width: 6px;
    height: 6px;
    border-radius: 50%;
}

.whyUsFooterContent:last-child::after {
    height: 0;
    width: 0;
}


/* ~~~~~~~~ How It Works Section ~~~~~~~~ */

.howItWorks {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 10%;
    box-sizing: border-box;
    /* gap: 10px; */
}

.howItWorksTitle {
    font-size: 64px;
    color: #FFFFFF;
    font-weight: 600;
    display: flex;
    gap: 20px;
}

.howItWorksSubtitle {
    font-size: 24px;
    color: #D9D9D9;
    opacity: 0.65;
    display: flex;
    font-weight: 200;
    text-align: center;
}

.howItWorksContainer {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    gap: 10%;
    margin-top: 102px;
}

.howItWorksContainerChildren {
    position: relative;
    display: flex;
    flex-direction: column;
    width: calc((100% - (10% * 3)) / 4);
    /* background: red; */
}

.howItWorksContainerChildren::after {
    content: "";
    position: absolute;
    top: 40px;
    right: 0;
    width: calc((100% / 25) * 10 * 1.4);
    height: 2px;
    background-image: linear-gradient(90deg, #23bd21 30%, transparent 30%);
    background-position: bottom;
    background-size: 5px 2px;
    background-repeat: repeat-x;
    border: none;
    transform: translateX(80%);
}

.howItWorksContainerChildren:last-child:after {
    content: "";
    background: none;
}

.howItWorksContainerChildrenMain {
    position: relative;
    display: flex;
    width: 80%;
    align-items: center;
    gap: 40px;
}

.howItWorksContainerChildrenMainNumber {
    width: 62px;
    height: 62px;
    border-radius: 50%;
    background: linear-gradient(#23BD21, #005C2B);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font-size: 32px;
    font-weight: 600;
    margin-top: 12px;
    margin-bottom: 7px;
}


.howItWorksContainerChildrenMainIcon {
    flex: 1 0 0;
    height: 81px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 center;
}

.howItWorksContainerChildrenTitle {
    height: 38px;
    color: #008645;
    font-size: 32px;
    font-weight: 600;
    margin-top: 52px;
    word-spacing: 10%;
}

.howItWorksContainerChildrenSubtitle {
    color: #FEFDFD;
    opacity: 0.7;
    font-size: 20px;
    margin-top: 48px;
    font-weight: 200;
}

/* ~~~~~~~~ Built Section ~~~~~~~~ */

.built {
    position: relative;
    display: flex;
    width: 100%;
    padding: 2% 10%;
    box-sizing: border-box;
    align-items: stretch;
}

.builtLeftBlock {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
}

.builtTitle {
    font-size: 58px;
    font-weight: 600;
    color: #FFFFFF;
}

.builtSubtitle {
    font-size: 24px;
    font-weight: 200;
    color: #D9D9D9;
    opacity: 0.65;
    margin-top: 36px;
}

.builtTerminal {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 5% 7%;
    box-sizing: border-box;
    font-weight: 200;
    font-size: 16px;
    background: linear-gradient(140deg, #b1b1b136, #0f0f0f36);
    border: 1px solid rgba(255, 255, 255, 0.29);
    border-radius: 10px;
    margin-top: 102px;
    width: 85%;
}

.builtTerminalComment {
    color: #23BD21;
    margin-top: 20px;
}

.builtTerminalComment:first-child {
    margin-top: 0;
}

.builtTerminalCode {
    color: #FFFFFF;
    margin-top: 5px;
}

.builtTerminalCopyButton {
    position: absolute;
    height: 23px;
    width: 23px;
    background: none;
    border: none;
    right: 4.55%;
    top: 6%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

.builtSecretsList {
    position: relative;
    display: flex;
    padding: 5% 10%;
    box-sizing: border-box;
    height: 100%;
    flex-direction: column;
    background: linear-gradient(140deg, #b1b1b136, #0f0f0f36);
    border: 1px solid rgba(255, 255, 255, 0.29);
    border-radius: 10px;
}

.builtSecretsListTitle {
    font-size: 32px;
    font-weight: 600;
    color: #FFFFFF;
}

.builtSecretsListActionPanel {
    display: flex;
    width: 100%;
    margin-top: 36px;
    gap: 20px;
}

.builtSecretsListActionPanelInput {
    width: 80%;
    outline: none;
    background: rgba(0, 0, 0, 0.19);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    padding: 10px 25px;
    padding-left: 40px;
    background-position: 15px center;
    background-repeat: no-repeat;
    background-size: 21px 21px;
}

.builtSecretsListActionPanelAddButton {
    width: 20%;
    background: #008645;
    padding: 10px 28px;
    border: none;
    min-width: 120px;
    color: #FFFFFF;
    border-radius: 7px;
}