.container {
    position: relative;
    display: flex;
    height: 100vh;
    width: 100%;
    padding: 0;
}

.sidebar {
    position: relative;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    background: #141418;
    height: 100%;
    width: 15%;
    min-width: 385px;
    top: 0;
    left: 0;
    padding: 25vh 2%;
    box-sizing: border-box;
    background-image: url(../assets/backgroundReg.png);
    background-position: 0 1%;
    background-size: 160%;
    background-repeat: no-repeat;
}

.sidebarTitle {
    display: flex;
    gap: 5px;
    align-items: start;
    height: max-content;

    img {
        width: 55px;
        height: 55px;
    }
}

.sidebarTitleText {
    margin-top: 5px;
    font-size: 38px;
    font-weight: 600;
}

.sidebarSubtitle {
    color: rgba(255, 255, 255, .5);
    font-weight: 300;
    font-size: 18px;
    margin-top: 28px;
    margin-left: 12px;
}

.sidebarSubtitle:nth-child(3) {
    color: #23BD21;
}

.content {
    position: relative;
    display: flex;
    height: 100%;
    width: 85%;
    align-items: center;
    justify-content: center;
}

.form {
    position: relative;
    display: flex;
    flex-direction: column;
    background: #141418;
    border-radius: 20px;
    padding: 2% 2%;
    align-items: center;
    min-width: 500px;
    width: 25%;

    form {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 32px;

        label {
            font-size: 14px;
            font-weight: 500;
            color: #FFFFFF;
            margin-top: 16px;
        }
    }

}

.regLogo {
    height: 81px;
    width: 81px;
}

.title {
    font-size: 32px;
    font-weight: 600;
    color: #FFFFFF;
    margin-top: 24px;
}

.subtitle {
    color: rgba(255, 255, 255, .5);
    margin-top: 18px;
    font-weight: 300;
}

.inputWrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0;
    margin-top: 18px;
}

.input {
    border: 1px solid #23bd2188;
    border-radius: 7px;
    padding: 13px 13px 13px 42px;
    background: none;
    font-size: 14px;
    color: #969696;
    width: 100%;
    box-sizing: border-box;
}

.submitButton {
    margin-top: 32px;
    background: #23BD21;
    border: none;
    border-radius: 7px;
    color: #FFFFFF;
    padding: 12px 15px;
    font-size: 16px;
    font-family: Inter;
    cursor: pointer;
    background-image: url('../assets/arrowRightWhite.svg');
    background-position: 97% center;
    background-repeat: no-repeat;
    background-size: 32px 32px;
}

.hr {
    display: flex;
    align-items: center;
    gap: 16px;
    width: 100%;
    margin-top: 16px;
}

.hrLine {
    height: 1px;
    background: rgba(255, 255, 255, .5);
    flex: 1 0 0;
}

.hrText {
    color: rgba(255, 255, 255, .5);
    font-size: 14px;
}

.footer {
    margin-top: 24px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 300;
    display: flex;
    gap: 15px;
}

.userInput {
    background-image: url('../assets/user-icon-grey.svg');
    background-repeat: no-repeat;
    background-position: 15px center;
    background-size: 16px 18px;
    margin-top: 18px;
}

.passInput {
    background-image: url('../assets/circum_lock.svg');
    background-repeat: no-repeat;
    background-position: 12px center;
    background-size: 20px;
}

.showPassButton {
    position: absolute;
    background: none;
    border: none;
    right: 16px;
    cursor: pointer;
    top: 50%;
    transform: translateY(-40%);
}

.error {
    margin-top: 16px;
    color: #ff8d8d;
    font-size: 14px;
}

.submitButton:disabled {
    opacity: 0.7;
    cursor: wait;
}