@font-face {
  font-family: Inter;
  src: url("./assets/fonts/Inter-VariableFont_opsz\,wght.ttf") format("truetype");
  font-weight: 100 900;       /* Defines the min and max weight range */
  font-stretch: 75% 125%;     /* Defines the width range if supported */
  font-style: normal;
  font-display: swap;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #08090B;
  font-family: Inter;
  margin: 0;
}

a {
  color: #008645;
  text-decoration: none;
}